.SearchWeather {
    background-color: aliceblue;
    border: 2px solid pink;
    padding: 16px;
    border-radius: 4px;
    margin: 5px 0 10px;
    max-width: 600px;
}

form {
  padding-top: 1rem;
  margin: 15px;
}

.SearchWeather h1 {
    font-size: 32px;
    font-weight: 400;
    margin: 20px 0 0 0;
    padding-left: 10px;
    color: rgb(85, 86, 87);
}

.SearchWeather ul {
    list-style: none;
    margin: 0;
    padding: 0 0 8px 10px;
}

.SearchWeather img {
    position: relative;
    bottom: 15px;
    padding-right: 0;
    width: 85px;
    height: 90px;
}

.date-n-desciption {
    color: rgb(64, 65, 66);
}

.temperature {
    font-size: 55px;
    line-height: 60px;
    font-weight: 600;
}

.unit {
    position: relative;
    bottom: 30px;
    font-weight: 500;
}
